@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    background-color: black;
    font-family: 'Metal Mania', cursive;
}

h1 {
    font-size: 5rem;
    color: white;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexCenter {
    justify-content: center;
    align-items: center;
}

.justifyCenter {
    justify-content: center;
}

.textCenter {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.5rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    background: red;
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    transform: none;
}

/* END PAGE CSS */

.endFormContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
}

input::placeholder {
    color: black;
    font-family: 'Metal Mania', cursive;
    text-align: center;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#endText {
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

#saveScoreBtn {
    border: none;
    font-family: 'Metal Mania', cursive;
}

